body {
  margin: 0;
  height: 100vh;
  background: url('./bg.jpg') no-repeat center center / cover;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.textImage {
  max-width: 80%;
  margin-bottom: 20px;
}

#buttons img {
  width: 120px;
  margin: 10px;
  cursor: pointer;
}
